/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  color: pink;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}

.viz_sprite {
  width: 110px;
  height: 110px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transform: scale(0.7);
}

.testContainer .viz_sprite {
  transform: scale(1);
  zoom:0.3;
  -moz-transform:scale(0.3);
  -moz-transform-origin: 0 0;
  margin: 4px;
  /*width: calc(110px * 0.3);
  height: calc(110px * 0.3);
  background-size: calc(2420px * 0.3) calc(2640px * 0.3);*/
}

.testContainer {
  font-size: 9px;
}

.testContainer img {
  width: 180px;
  height: 180px;
}

.testContainer .partLabel {
  vertical-align: top;
  top: 15px;
  position: relative;
}

.test-parts-row {
  height: 50px;
}
.test-parts-row.actual {
  height: 210px;
}

.test-row {
  margin-bottom: 40px;
}

.vizCol, .vizCol2 {
  padding: 0 !important;
}

.layer {
  width: 100px;
  margin: 4px 20px;
}

#chatbot {
  font-size: 28px;
  margin: 10px 40px;
  display: none;
}
